{%extends "bootstrap/base.html" %}

{% block content %}
<!-- Main Content Is Here -->
     <div class="container">
      <div class="jumbotron">
         <h1 class="display-3">Simplified MLApp</h1>
          <p>Machine Learning code generator</p>
        </div>
      

      <div class="container">
        <form method="POST" class="form-group" enctype="multipart/form-data" action="{{ url_for('datauploads')}}"> 
          <input type="file" name="csv_data">
          <input type="submit" class="btn btn-primary mb-2"> 
          <input type="reset" value="Reset" class="btn btn-danger mb-2">
        </form>
                    
     </div> 
    
    </div>     
    
 

{% endblock %}

<!-- Main External 3-Party JS Is Here -->

{% block scripts %}

{{ super() }} 



{% endblock%}
